/.vscode/
*.bak
*.code-workspace
*.gstmp
*.mk
*.ncb
*.opensdf
*.orig
*.pdb
*.props
*.pyc
*.pyproj
*.rules
*.sdf
*.sln
*.sublime-project
*.sublime-workspace
*.suo
*.targets
*.user
*.vc.opendb
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*.xcworkspace
*.VC.db
*_proto.xml
*_proto_cpp.xml
*~
!Android.mk
.*.sw?
.DS_Store
.android
.ccls-cache
.cipd
.classpath
.code-coverage
.coverage
.cproject
.dir-locals.el
.emulator_sdk
.gdb_history
.gdbinit
.landmines
.metadata
.project
.projectile
.pydevproject
.checkstyle
*.class
compile_commands.json
cscope.*
child_pool-0.profraw
child_pool-1.profraw
child_pool-2.profraw
child_pool-3.profraw
default.profraw

/browser/ui/webui/example/resources/tsconfig.json
